<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lemon.demo.dao.CommentMapper">
  <resultMap id="BaseResultMap" type="java.util.Map">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="note_id" jdbcType="INTEGER" property="noteId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="reply_msg" jdbcType="VARCHAR" property="replyMsg" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="zan_count" jdbcType="INTEGER" property="zanCount" />
    <result column="to_user_id" jdbcType="INTEGER" property="toUserId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="message" jdbcType="LONGVARCHAR" property="message" />
  </resultMap>

  <select id="selectAll" resultMap="BaseResultMap">
    select a.id,d.message,b.user_name,a.reply_msg,c.user_name as to_user_name,a.create_time,a.status from comment a ,user b,user c,note d where a.user_id=b.id and a.to_user_id=c.id and a.note_id=d.id
  </select>

</mapper>